*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
   
}
body{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   padding-left: 10px;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   .container{
      max-width: 700px;
      width: 100%;
      background: #fff;
      padding: 25px 30px;
      border-radius: 7px;
      form{
         .user-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .input-box{
               margin-bottom: 15px;
               width: calc(100%/2 - 20px);
               .details{
                  font-weight: 500;
                  margin-bottom: 5px;
                  display: block;
               }
               .input{
                  height: 50px;
                  width: 100%;
                  outline: none;
                  border-radius: 6px;
                  border: 1px solid #ccc;
                  padding-left: 15px;
                  font-size: 15px;
                  border-bottom: 2px;
               }
            }
         }
         .gender-details{
            .gender-title{
               font-size: 20px;
               font-weight: 500;
            }
            .category{
               display: flex;
               width: 80%;
               margin: 15px 0;
               justify-content: space-between;
               .label{
                  display: flex;
                  align-items: center;

               }
               .dot{
                  background: #d9d9d9 ;
                  border-radius: 50%;
                  margin-right: 10px;
                  border: 5px solid transparent;
               }
            }
         }
         .button{
            color: linear-gradient(135deg, #71b7e6, #9b59b6);
         }
      }
      .title{
         font-size: 25px;
         font-weight: 500;
         position: relative;
         .title::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 5px;
            width: 30px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
         }

      }
      p{
         text-align: center;
      }
   }

}