@import '_reset.scss';
@import '_variables.scss';
@import '_mixins.scss';

code{
    @include text;
    letter-spacing: 20px;
}

quote{
    @extend code;
}

header{
    background: linear-gradient(135deg, $firstColor, $secondColor );
    h1{   
        font-size: 30px;
        display: flex;   
        justify-content: center;
        text-align: center;
    }
nav{
    ul{
        display: flex;
        justify-content: space-around;
        margin-right: 40px;

      li{ 
        display: inline-block;
        font-size: 25px;
        line-height: 70px; 
        margin: 0 5px;  
        }
      }
   } 
}